@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}
body {
  background: #000;
  color: #fff;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(./images/header-image.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
  justify-content: space-between;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  justify-content: space-between;
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1.2rem;
}
p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.8rem;
}
/* nav-barf */
.netflix-logo img {
  width: 150px;
  margin-top: 20px;
}
.main-nav {
  gap: 20px;
  align-items: end;
}
.main-nav .primary-button,
.secondary-button {
  justify-content: end;
  gap: 40px;
}
.Primary-button,
.secodary-button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}
.Primary-button:hover {
  font-weight: 700;
  background-color: red;
}
.secodary-button {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  padding: 7px 10px;
}
.secodary-button img {
  width: 10px;
  margin-left: 10px;
}
/* header-content */
.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.email-signup {
  background: #3c4043;
  border: 2px solid #3c40; /* to get the form in line*/
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}
.email-signup input {
  background-color: #3c4043 !important;
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}

.email-signup button {
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}
button:hover {
  font-weight: 700;
  background-color: red;
}
/* feature-section */

.big-feature-section {
  margin-block: 50px;
  padding: 40px var(--padding-inline-section) 0;
  padding-bottom: 40px;
  border-bottom: 4px solid #333;
}
.big-feature-container {
  gap: 30px;
}
.feature-img img {
  width: 100%;
}
.feature-desc {
  flex-direction: column;
  align-items: flex-start; /* flex start karne se vo left side se he start hoge*/
  gap: 20px;
  font: weight 700px;
}
/* jhol mol */
.faq {
  padding: 10px 12px;
  text-align: center;
  font-size: 18px;
}
.faq h2 {
  font-weight: 900;
  font-size: 40px;
}
.accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}
.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}
.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}
label::after {
  /* for the + icon at the right*/
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}
input[type="radio"] {
  /*hide radio icon*/
  display: none;
}
.accordion .content {
  background: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0; /*to hide the paragraph */
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after {
  transform: rotate(135deg); /* for + to X icon*/
}
small p {
  margin-top: 60px;
}
/* footer */
.footer {
  padding: 50px 15% 10px;

  border-top: 6px solid #333;
  color: #777;
  width: 100%;
}

.row div a:hover {
  color: var(--accent-color-dark);
}

.footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.footer .col {
  flex-direction: column;
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
}
.footer .col a {
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}
.footer .row {
  align-items: flex-start;
  padding: 10px 0;
}
